#heading {
    font-size: 28px;
    font-family: sans-serif;
    color: #023581;
    margin-bottom: 20px;
}

#form-container {
    place-items: center;
    margin-top: 160px;
}

#sign-in-form {
    max-width: 400px;
}

body {
    background: #F1F1F1;
}

#h4 {
    font-size: 22px;
    color: #01166A;
}

#h5 {
    font-size: 18px;
    color: #65021D;
}

#h5-discount {
    font-size: 15px;
    color: #f50606;
}

#card-title {
    font-size: 15px;
}

#card {
    overflow: hidden;
}

#card-text {
    word-wrap: break-word;
}

#side-bar-text {
    font-size: 25px;
}

h6:hover {
    background-color: #93C4F2;
}

a:hover {
    color: #95054C;
}

#pp {
    font-size: 20px;
}

#num-button {
    font-size: 27px;
    font-weight: normal;
}

#h3-checkout-p {
    color: #f50606;
    font-size: 25px;
}

#empty {
    font-size: 15px;
}

#success-h3 {
    font-size: 15px;
    color: #023581;
}

#success-page-p {
    font-size: 15px;
}

#nav-link {
    color: #023581;
}

#success-form-container {
    margin-top: 100px;
}

#success-heading {
    color: green;
    font-size: 30px;
}